<!DOCTYPE html>
<html lang="en">

<head>
    <title>assignment 5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#">assignment 5</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/">Album</a></li>
                    <li><a href="/list_album">Shows</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <div class="album py-5 bg-light">
            <div class="container">

                {% for show in shows.items %} {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %} {% if counter == 1 %}
                <div class="row">{% endif %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img width="100%" height="200px" src="{{ show.poster }}">
                            <p>Col#:{{ loop.index }}<br>音乐剧名称: {{ show.音乐剧名称 }}
                                <br>类型: {{ show.类型 }}<br>最新卡司: {{ show. 最新卡司}}<br>评价: {{ show.评价 }}</p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            </div>
                        </div>
                    </div>
                    {% if counter == 3 %}</div>
                <!--end row-->{% set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %} {% endfor %}
                <div class="container" style="float: left;">
                    {% for page in shows.iter_pages() %} {% if page %}
                    <a href="{{url_for('album')}}/{{ page }}">{{ page }}</a> {% else %} ... {% endif %} {% endfor %}
                </div>
                {% endblock %}

            </div>
</body>

</html>