.navbar-inverse {
    background: none!important;
    border: none!important
}

.container-fluid {
    /*padding-right: 0px!important;
    padding-left: 0px!important;*/
    background-color: black;
    border-color: black;
}

.navbar-header {
    background-color: black;
    border-color: black;
}

@media (min-width: 768px) {
    .navbar-header {
        background-color: black;
        border-color: black;
    }
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: white;
    color: #a97e29;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: black;
}

.container #albumTitle {
    color: #a97e29;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: 0px!important;
    margin-left: 0px!important;
    background-color: black;
}

.col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.nav .navbar-nav a {
    color: white;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .2);
}

.card-text p {
    padding: 10px;
    margin-bottom: 1rem;
}