                                    .navbar-default {
                                    background-color: #ea8513;
                                    border-color: #e1ad13;
                                }
                                
                                .navbar-default .navbar-brand {
                                    color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-brand:hover,
                                .navbar-default .navbar-brand:focus {
                                    color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-text {
                                    color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-nav>li>a {
                                    color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-nav>li>a:hover,
                                .navbar-default .navbar-nav>li>a:focus {
                                    color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-nav>.active>a,
                                .navbar-default .navbar-nav>.active>a:hover,
                                .navbar-default .navbar-nav>.active>a:focus {
                                    color: #eef4f6;
                                    background-color: #e1ad13;
                                }
                                
                                .navbar-default .navbar-nav>.open>a,
                                .navbar-default .navbar-nav>.open>a:hover,
                                .navbar-default .navbar-nav>.open>a:focus {
                                    color: #eef4f6;
                                    background-color: #e1ad13;
                                }
                                
                                .navbar-default .navbar-toggle {
                                    border-color: #e1ad13;
                                }
                                
                                .navbar-default .navbar-toggle:hover,
                                .navbar-default .navbar-toggle:focus {
                                    background-color: #e1ad13;
                                }
                                
                                .navbar-default .navbar-toggle .icon-bar {
                                    background-color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-collapse,
                                .navbar-default .navbar-form {
                                    border-color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-link {
                                    color: #eef4f6;
                                }
                                
                                .navbar-default .navbar-link:hover {
                                    color: #eef4f6;
                                }
                                
                                @media (max-width: 767px) {
                                    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
                                        color: #eef4f6;
                                    }
                                    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
                                    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
                                        color: #eef4f6;
                                    }
                                    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
                                    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
                                    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
                                        color: #eef4f6;
                                        background-color: #e1ad13;
                                    }
                                }
                                
                                .img-responsive,
                                .thumbnail>img,
                                .thumbnail a>img,
                                .carousel-inner>.item>img,
                                .carousel-inner>.item>a>img {
                                    display: block;
                                    max-width: 100%;
                                    height: 590px;
                                    html {
                                        scroll-behavior: smooth;
                                    }