{% extends "base.html" %}
{% block content %}


   <div class="container">
      <h6 class="lead text-muted">{{album_user.name}}'s Website</h6>
      <hr>
   </div>

  <div class="album">
    <div class="container">

       {% for item in dataset %}
        {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <title>Placeholder</title><img height="225" width="auto" src="{{ item['poster'] }}"/>
            <div class="card-body">
              <p class="card-text">音乐剧名称: {{ item['音乐剧名称'] }}<br>类型: {{ item['类型'] }}<br>最新卡司: {{ item['最新卡司'] }}<br>评价: {{ item['评价']}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">No. {{ loop.index }}</small>
              </div>
            </div>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
      {% endfor %} 
      </div>
    </div>


{% endblock %}