{% extends "base.html" %} {% block content %}


<section class="jumbotron text-center">
    <div class="container">
        <h1 id="albumTitle" style="color:#a97e29;">{{album_user.name}}'s Website</h1>
    </div>
</section>


<div class="album py-5 bg-light">
    <div class="container">


        {% for item in dataset %} {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %} {% if counter == 1 %}
        <div class="row">{% endif %}
            <div class="col-md-4" style="padding-right: 15px;padding-left: 15px;padding-bottom: 15px">
                <div class="card mb-4 shadow-sm" style="border: 1px solid rgba(0,0,0,.125);
                border-radius: 0.5rem;
                box-shadow: 0 .2rem .5rem rgba(0,0,0,.125);">
                    <img width="100%" height="200px" src="{{ item['poster'] }}">
                    <div class="card-body" style="padding:1.25rem">
                        <p class="card-text">音乐剧名称: {{ item['音乐剧名称'] }}<br>类型: {{ item['类型'] }}<br>最新卡司: {{ item['最新卡司'] }}<br>评价: {{ item['评价']}}</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if counter == 3 %}</div>
    <!--end row-->{% set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %} {% endfor %}
</div>
</div>


{% endblock %}